.banner-inicio{
    margin-top: -12%;
    margin-bottom:-5.5% ;
}

.bg-contador {
    background-color: rgb(234, 231, 231);
    p {
        font-size: 18px;
        color: black;
        font-family: $font2;
        i {
            font-size: 35px;
            color: $color2;
            text-shadow: 0 0 2px black;
        }
    }
}

