.banner-inicio{
    margin-top: -12%;
    margin-bottom:-5.5% ;
}

.bg-contador {
    background: linear-gradient(
        rgb(173, 170, 170),
        rgb(212, 210, 210),
        rgb(231, 228, 228),
        rgb(224, 224, 228),
        );
    p {
        font-size: 18px;
        color: black;
        font-family: $font2;
        i {
            font-size: 35px;
            color: $color2;
            text-shadow: 0 0 2px black;
        }
    }
}

